<!DOCTYPE html>
<html lang="es">
	<!--<div id="main">-->
	<head>
		<link rel="stylesheet" type="text/css" href="./www/css/vehiculoMenuStyle.css"/>
		<meta charset="UTF-8"/>
		<title>WEB Solutions - Usuario</title>
	</head>
	<body>	
		<header id="header">
			<div class="image1">
				<img id="image1" src="./www/img/auto1.jpg" alt="WEB Solutions">
			</div>
			<div id="menu">
				<ul>
					<li><a href="index.php?ctl=login"title="" onMouseOver="playSound(0)" onMouseOut="stopSound(0)">Home</a></li>
					<li><a href="index.php?ctl=usuario&act=menu"  title="" onMouseOver="playSound(0)" onMouseOut="stopSound(0)">USUARIO</a></li>
					<li class="active"><a href="index.php?ctl=usuario&act=alta" title="" onMouseOver="playSound(0)" onMouseOut="stopSound(0)">ALTA DE USUARIO</a></li>
					<li><a href="index.php?ctl=usuario&act=modificar"  title="" onMouseOver="playSound(0)" onMouseOut="stopSound(0)">MODIFICAR UN USUARIO</a></li>
					<li><a href="index.php?ctl=usuario&act=mostrar"  title="" onMouseOver="playSound(0)" onMouseOut="stopSound(0)">BUSCAR USUARIO</a></li>
					<li><a href="index.php?ctl=usuario&act=mostrarTodos"  title="" onMouseOver="playSound(0)" onMouseOut="stopSound(0)">MOSTRAR TODOS LOS USUARIOS</a></li>
				</ul>
			</div>

		</ul>
		</header>

		<section id="content_no_img">
		<!--<aside id="letf">Izquierda
		</aside>
		<aside id="right">Derecha
		</aside>-->

			<div id="form">
				<h1>COMPLETE LOS SIGUIENTES CAMPOS</h1>
				<form id="form_alta_vehiculo" action="index.php?ctl=usuario&act=alta" method="POST">
					
					<label for="usuario">User ID*:</label>
					<input type="text" id="usuario" name="usuario" size="22" maxlength="25" placeholder="Ingresa el nombre de usuario" required autofocus />

					<br />

					<label for="clave">Password*:</label>
					<input type="password" id="clave" name="clave" size="22" maxlength="45" placeholder="Ingresa la clave de usuario" required autofocus />

					<br />

					<label for="tipo_usuario">Tipo de Usuario*:</label>
					<select name="tipo_usuario" required>
						<option selected value=''>Elige una opcion</option>
						<option value="admin">Administrador</option>
						<option value="cliente">Cliente</option>
						<option value="empleado">Empleado</option>
					</select>
									

					<br />

					<fieldset>
						<legend>Status:</legend>
							<input type="radio" name="status"  checked>Activo
							<input type="radio" name="status">No Activo
					</fieldset>

					<br />

					<label for="email">Email*:</label><input type="email" id="email" name="email" placeholder="Ingresa tu email" required />
					
					<br /><br />

					<button type="submit">Agregar</button>

				</form>
			</div>

		</section>

		<footer id="footer">
			<p>Copyright © 2014 WEB Solutions Team</p>
		</footer>
	<body>
	<!--</div>-->
</html>