<!DOCTYPE html>
<html lang="es">
	<!--<div id="main">-->
	<head>
		<link rel="stylesheet" type="text/css" href="./www/css/vehiculoMenuStyle.css"/>
		<meta charset="UTF-8"/>
		<title>WEB Solutions - Vehiculo</title>
	</head>
	<body>	
		<header id="header">
			<div class="image1">
				<img id="image1" src="./www/img/auto1.jpg" alt="WEB Solutions">
			</div>
			<div id="menu">
				<ul>
					<li><a href="index.php"title="" onMouseOver="playSound(0)" onMouseOut="stopSound(0)">Home</a></li>
					<li><a href="index.php?ctl=vehiculo&act=menu"  title="" onMouseOver="playSound(0)" onMouseOut="stopSound(0)">PRINCIPAL</a></li>
					<li><a href="index.php?ctl=vehiculo&act=alta" title="" onMouseOver="playSound(0)" onMouseOut="stopSound(0)">ALTA DE VEHICULO</a></li>
					<li class="active"><a href="index.php?ctl=vehiculo&act=modificar"  title="" onMouseOver="playSound(0)" onMouseOut="stopSound(0)">MODIFICAR UN VEHICULO</a></li>
					<li><a href="index.php?ctl=vehiculo&act=mostrar"  title="" onMouseOver="playSound(0)" onMouseOut="stopSound(0)">BUSCAR VEHICULO</a></li>
					<li><a href="index.php?ctl=vehiculo&act=mostrarTodos"  title="" onMouseOver="playSound(0)" onMouseOut="stopSound(0)">MOSTRAR TODOS LOS VEHICULOS</a></li>
				</ul>
			</div>

		</ul>
		</header>

		<section id="content_no_img">
			
		<!--<aside id="letf">Izquierda
		</aside>
		<aside id="right">Derecha
		</aside>-->

			<div id="form">
				<form id="form_alta_vehiculo" action="index.php?ctl=vehiculo&act=modificar" method="POST">
					<h1>INGRESE EL VIN DEL AUTOMOVIL A MODIFICAR</h1>
					
					<label for="nombre">VIN*:</label>
					<input type="text" id="vin" name="vin" size="17" maxlength="17" placeholder="Ingresa el VIN" required autofocus />

					<br /><br />


					<!--Estos inputs y labels apareceran con Javascript una vez que el controlador devuelva los datos de la consulta por el VIN y esos datos
					los colocara en las cajas de texto para que puedan ser modificados

					<<label for="nombre">Marca*</label>
					<input type="text" id="marca" name="marca" size="22" maxlength="25" placeholder="Ingresa la marca del vehiculo" required autofocus />

					<br /><br />

					<label for="nombre">Modelo*</label>
					<input type="text" id="modelo" name="modelo" size="22" maxlength="4" placeholder="Ingresa el modelo del vehiculo" required />

					<br /><br />

					<label for="nombre">Color*</label>
					<input type="color" id="color" name="color" required />

					<br /><br />-->

					<button type="submit">Buscar</button>

				</form>
			</div>

		</section>

		<footer id="footer">
			<p>Copyright © 2014 WEB Solutions Team</p>
		</footer>
	<body>
	<!--</div>-->
</html>