
#titulo{
	color:#666; 
}

#contImage{
	background: url("../img/auto1.jpg") no-repeat center center fixed;
  background-size: cover;
}

#btnSignIn{
	border:none;
	background-color: #FF181C;
}

.pie{
	text-align:center;
  background-color:#0B45B0; 
}

.datos {
  text-align:center;
  margin:0;
  padding: 5px; 
  font-family:Arial, Helvetica, sans-serif; 
  font-size: 13px; 
  color:#FFF
}

#miMenu1{
  text-align:center;
}

#contenido{
  text-align:center;
  color:#666; 
}

ul#listaMenu1 {
  text-align: center;
	margin: 0 auto;
}

ul#listaMenu1 li {
	text-align: center;
	margin: 0 auto;
  display: inline;
}

ul#listaMenu1 li a {
  text-align: center; 
  text-decoration: none; 
  margin-right: 2px; 
  padding: 5px 20px;
}
